.card-grid {
  --n: 3; /* number of rows*/
  --m: 5; /* number of columns */
  --h: calc((100vh - (var(--n) - 1) * var(--g)) / var(--n));
  --w: calc((100vw - (var(--m) - 1) * var(--g)) / var(--m));
  --g: 0px; /* control the gap */
  --f: 0.8; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(var(--m), auto);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  transition: 0.35s linear;
}

.big {
  width: calc(var(--w) * var(--f));
  height: calc(var(--h) * var(--f));
}

.circle {
  cursor: pointer;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.square {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.triangle {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
